<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- Android 11+ 包可见性：允许我们查询常见 OEM 邮箱 App 的组件信息 -->
    <queries>
        <package android:name="com.android.email" />
        <package android:name="com.google.android.email" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.miui.email" />
        <package android:name="com.hihonor.email" />
        <package android:name="com.huawei.email" />
        <package android:name="com.coloros.email" />
        <package android:name="com.heytap.email" />
        <package android:name="com.vivo.email" />
        <package android:name="com.samsung.android.email.provider" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.settings.ADD_ACCOUNT_SETTINGS" />
        </intent>
    </queries>

    <application
        android:label="魔王邮箱"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
